*
{
    margin:0;
    podding:0;
    box-sizing: border-box;
    font-family: 'popping',sans-serif;
}
body
{
    background: #fc9087;
}
header
{
   
    justify-content: center;
    min-height: 100vh;
    
}
img
{
    width: 360px;
    height: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.imgmain
{
width: 700px;
    height: 540px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
.imgmain2
{
width: 560px;
    height: 540px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
p
{
    background: #fc8050;
}
.imgmain3
{
width: 700px;
    height: 540px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    }
.imgmain4
{
width: 600px;
    height: 540px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    }
    
.imgmain5
{
width: 560px;
    height: 540px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    }
.imgmain7
{
width: 560px;
    height: 1000px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    }
